{%- if blog.previous_article or blog.next_article -%}
 <div class="blog-logo-container">
   <?xml version="1.0" encoding="UTF-8"?>
  <svg width="54px" height="72px" viewBox="0 0 54 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Group 7</title>
      <defs>
          <polygon id="path-1" points="0 72 54 72 54 0 0 0"></polygon>
      </defs>
      <g id="Website-w/-Mockups" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Profiles-Helen" transform="translate(-773.000000, -8090.000000)">
              <g id="Group-7" transform="translate(773.000000, 8090.000000)">
                  <path d="M28.0618501,20.8692344 C28.3474364,20.6440441 28.4910362,20.3179065 28.4910362,19.8892685 C28.4910362,19.4761609 28.3538903,19.1593415 28.0812119,18.9419164 C27.8085335,18.7229383 27.4083901,18.6142258 26.8791682,18.6142258 L24.3298673,18.6142258 L24.3298673,21.2077962 L26.7807458,21.2077962 C27.3486913,21.2077962 27.7746504,21.0959776 28.0618501,20.8692344 L28.0618501,20.8692344 Z M24.3298673,14.7859916 L24.3298673,17.1419475 L26.8065615,17.1419475 C27.2389745,17.1419475 27.5665113,17.0425532 27.7940122,16.8422115 C28.0215131,16.6418699 28.1344568,16.3592173 28.1344568,15.9911477 C28.1344568,15.6013356 28.0182861,15.3031527 27.7843313,15.0950458 C27.5503765,14.888492 27.2050914,14.7859916 26.7484762,14.7859916 L24.3298673,14.7859916 Z M30.5095016,18.4325206 C30.8370384,18.8689237 31,19.4047212 31,20.0352539 C31,20.6129834 30.8612406,21.1239323 30.5837218,21.5712067 C30.3078164,22.0169281 29.8850843,22.3663612 29.3187522,22.6195061 C28.7540337,22.8742041 28.0521692,23 27.2163858,23 L22,23 L22,13 L27.3615991,13 C28.0441018,13 28.6314091,13.1087125 29.1219075,13.3276906 C29.6124059,13.5466687 29.9851201,13.8432986 30.2416637,14.2206864 C30.4965938,14.5965212 30.6240588,15.0142879 30.6240588,15.4755397 C30.6240588,15.9833825 30.4901398,16.4135735 30.2239154,16.7692188 C29.9576909,17.1248641 29.5736823,17.379562 29.0718896,17.5333126 C29.7027608,17.6963814 30.1787379,17.9945644 30.5095016,18.4325206 L30.5095016,18.4325206 Z" id="Fill-1" fill="#231F20"></path>
                  <mask id="mask-2" fill="white">
                      <use xlink:href="#path-1"></use>
                  </mask>
                  <g id="Clip-4"></g>
                  <polygon id="Fill-3" fill="#231F20" mask="url(#mask-2)" points="26 61 28 61 28 51 26 51"></polygon>
                  <path d="M27,1.63172805 C13.0115963,1.63172805 1.6307302,17.0482946 1.6307302,35.9991841 C1.6307302,54.9484419 13.0115963,70.368272 27,70.368272 C40.9884037,70.368272 52.3692698,54.9484419 52.3692698,35.9991841 C52.3692698,17.0482946 40.9884037,1.63172805 27,1.63172805 M27,72 C12.113064,72 0,55.8491558 0,35.9991841 C0,16.1492125 12.113064,0 27,0 C41.886936,0 54,16.1492125 54,35.9991841 C54,55.8491558 41.886936,72 27,72" id="Fill-5" fill="#231F20" mask="url(#mask-2)"></path>
                  <path d="M27.2059523,39.5493656 C27.16269,39.1380291 27.1130185,38.7807728 27.0553354,38.4480983 C27.334137,38.4005733 27.4655262,38.3727139 27.8757171,38.325189 C27.7251001,38.6709738 27.4302754,39.1036145 27.2059523,39.5493656 M17.0473195,36.8978023 C15.2559391,36.6208467 13.1024371,36.070213 13.1088321,34.5100843 C13.1136533,33.2432992 13.9228188,32.430459 15.6645277,32.328854 C19.9346785,32.078119 23.3507992,33.8775111 24.634248,37.0207116 C22.8781184,37.3107776 20.0868978,37.3664964 17.0473195,36.8978023 M39.9779495,34.5231947 C39.4427787,34.6280773 33.831496,35.8440599 31.0162408,36.2717843 C31.3126678,35.7752307 31.8878964,34.5592481 32.057741,34.2265736 C32.3798049,33.6071107 32.7018688,32.986009 32.9998981,32.3550746 C33.6632536,30.9604638 34.2993699,29.5101341 34.7928808,28.0434164 C34.9226677,27.6533843 34.9483047,27.2469642 34.5220907,27.0552257 C34.2240615,26.9224836 33.7337552,27.0388378 33.5078298,27.2994055 C32.7531427,28.1696033 32.3926234,28.8038153 31.8093833,29.9050826 C30.9361254,31.5569836 29.4027166,34.8148994 28.5502888,36.5225193 C28.1593256,36.6044588 27.5504485,36.6536225 26.6531561,36.7781706 C25.6501112,33.9479791 23.1649315,32.1535034 20.2054686,31.3291917 C16.6916071,30.3491949 11.5786422,30.324613 11.0386644,33.9397852 C10.8447851,35.2344298 11.4152068,36.2177042 11.9664008,36.7880033 C14.4868313,39.3969581 20.4906794,39.2347178 24.9851534,38.6890005 C25.0941104,39.4772588 25.0492457,40.3327075 25.0860988,41.0898288 C25.1630096,42.6663454 24.8890149,44.7656362 25.7750913,44.978679 C26.907923,45.2507183 28.1176656,42.8531675 28.7666003,41.5699945 C29.3834889,40.3458178 29.9843544,39.0577284 30.4362053,38.1678651 C30.4362053,38.1678651 31.5385932,37.972849 31.9696141,37.8991034 C34.7095608,37.4386032 36.3038573,37.1141227 38.7810255,36.594626 C39.8914249,36.3619178 40.8191613,35.9423874 41.7725345,35.2770384 C42.3429562,34.8788122 41.7132491,34.5412214 41.2742167,34.4330612 C40.8415936,34.3265398 40.4041635,34.4396163 39.9779495,34.5231947" id="Fill-6" fill="#231F20" mask="url(#mask-2)"></path>
              </g>
          </g>
      </g>
  </svg>
 </div>
  
  <div class="article__prev-next vertical-breather vertical-breather--tight {% if settings.background == settings.secondary_background %}vertical-breather--margin{% endif %}">
    <div class="container">
      <header class="section__header text-container">
        <h2 class="heading h3">{{ 'article.general.continue_reading' | t }}</h2>
      </header>
      <a class="blog-view-all-link" href="{{ blog.url }}">View All {{ blog.title }}</a>

      <div class="scroller">
        <div class="scroller__inner">
          <article-list {% if settings.stagger_blog_posts_apparition %}stagger-apparition{% endif %} class="article-list article-list--scrollable">
            {%- if blog.next_article -%}
              {%- render 'article-item', article: blog.next_article, heading_size: 'h5' -%}
            {%- endif -%}

            {%- if blog.previous_article -%}
              {%- render 'article-item', article: blog.previous_article, heading_size: 'h5' -%}
            {%- endif -%}
          </article-list>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Blog post navigation",
  "class": "shopify-section--blog-post-prev-next",
  "settings": [
    {
      "type": "paragraph",
      "content": "Previous and next article will be displayed (if they exists)."
    }
  ]
}
{% endschema %}